.wrapper {
  max-width: 1020px;
  height: 1195px;
  margin: 0 auto;
  font-family: 'Lato', "Verdana" sans-serif;
  }
  
  /*header*/
  
.header {
  display: flex;
  justify-content: space-between;
  height: 89px;
  margin: 0 auto;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
  }
  
.logo {
  margin-top: 24px;
  }
  
h1 {
  margin-left: 39px;
  line-height: 6px;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  }
  
span {
  color:#f06c64;
  }
  
.navigation {
  width: 371px;
  margin-top: 31px;
  margin-bottom: 35px;
  margin-right: 39px;
  }
  
.navigation ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  }
  
.navigation ul li a {
  display: flex;
  line-height: 5px;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color:  #fff;
  }
  
.navigation ul li a:hover {
  cursor: pointer;
  color: #f06c64;
  }
  
.navigation ul li:not(:first-child):after {
  content: "\2022"; 
  position: absolute;
  top: 53px;
  margin-left: -16px;
  font-size: 6px;
  color: gray; 
  }
  
  /*slider*/
  
.slider {
  position: relative;
  margin: 0 auto;
  height: 594px;
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
  }
  
.previous {
  position: absolute;
  margin-top: 281px;
  margin-left: 42px;
  cursor: pointer;
  }
  
.next {
  position: absolute;
  top: 282px;
  margin-left: 964px;
  cursor: pointer;
  }
  
.phonevertical {
  position: absolute;
  top: 52px;
  left: 111px;
  }
  
.phonehorizontal {
  position: absolute;
  top: 173px;
  right: 110px;
  }

/*services*/

.services {
  margin: 0 auto;
  height: 512px;
  border-bottom: 6px solid #fff;
  background-color: #f2f2f2;
}

h2 {
  margin: 0;
  padding-top: 68px;
  padding-left: 40px;
  font-size: 30px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: #666d89;
}

.services_text {
  height: 57px;
  margin-top: 27px;
  margin-left: 40px;
  margin-right: 12px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.1px;
  color: #767e9e;
}

.layout-3-column {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.item {
  width: 340px;
}

h3 {
  margin-bottom: 11px;
  margin-top: -3px;
  font-weight: 900;
  line-height: 18px;
  text-align: left;
  color: #666d89;  
}

h4 {
  width: 220px;
  margin-top: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.5px;
  text-align: justify;
  overflow: hidden;
  color: #767e9e; 
}

.circle {
  float: left;
}

.item__text {
  width: 220px;
  margin-left: 80px;
}

.pencil, .heart, .bulb {
  margin-top: 32px;
}

.phone, .star, .bubble {
  margin-top: 17px;
}

.pencil, .phone {
  margin-left: 40px;
}

.bubble, .bulb {
  margin-left: 19px;
}

.heart, .star {
  margin-left: -1px;
}

.heart.item__text, .star.item__text {
  margin-left: 81px;
}

.pencil.item__text, .phone.item__text {
  margin-left: 120px;
}

.bubble.item__text, .bulb.item__text {
  margin-left: 99px;
}  