@font-face {
    font-family: Lato-Black;
    src: url('/singolo/assets/fonts/Lato-Black.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('/singolo/assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-Regular;
    src: url('/singolo/assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('/singolo/assets/fonts/Lato-Light.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  margin: auto;
}
    
  /*header*/
    
.header {
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
  height: 89px;
  margin: 0 auto;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
}

.logo {
  margin-top: 24px;
}

.hamburger {
  width: 20%;
  height: 100%;
  align-items: flex-start;
  display: none;
}

.hamburger svg {
  margin-top: 17px;
  margin-left: 5px;
}

.hamburger:hover {
  background-color:#0f1014;
}
    
h1 {
  max-width: 120px;
  margin-left: 39px;
  line-height: 6px;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Lato-Bold';
  color: #fff;  
}
    
span {
  color:#f06c64;
}
    
.navigation-header {
  width: 371px;
  margin-top: 31px;
  margin-bottom: 35px;
  margin-right: 39px;
}
    
.navigation-header ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}
    
.navigation-header ul li a {
  display: flex;
  line-height: 5px;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-link {
  color: #fff;
}
    
.navigation-header ul li a:hover {
  cursor: pointer;
  color: #f06c64;
}
    
.navigation-header ul li:not(:first-child):after {
  content: "\2022"; 
  position: absolute;
  top: 46px;
  margin-left: -16px;
  font-size: 6px;
  color: gray; 
}

.active {
  color: #f06c64;
}

/*block*/

.hamburger-menu {
  display: none;
  width: 75%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: #2D303A;
  box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
}

.hamburger-header {
  margin-left: 28px;
  width: 100%;
  height: 71px;
  display: flex;
  align-items: center;
}

.hamburger-header h2 {
  padding-left: 10%;
}

.hamburger-header a {
  margin-left: -7px;
  text-decoration: none;
  font-family: 'Lato-Bold';
  color: #fff;
}

.hamburger-header a:hover{
  color: #f2f2f2;
}

.hamburger_active {
  margin-left: 0px;
  cursor: pointer;
  transform: rotate(90deg)
}

 /*slider*/
    
.slider {
  max-width: 1020px;
  margin: 0 auto;
  height: 594px;
  text-align: center;
  transform: (-50%, -50%);
}

.item-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item-element {
  display: none;
  position: relative;
  margin: 0 auto;
  animation: 0.5s ease-in-out;
}

.slider-active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.slider-button {
  position: absolute;
  top: 373px;
  cursor: pointer;
}

.left {
 margin-left: -871px;
}

.right {
  margin-top: -30px;
  margin-left: 963px;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
  
  /*services*/
  
.services {
  max-width: 1020px;
  margin: 0 auto;
  margin-top: -18px;
  min-height: 512px;
  border-bottom: 6px solid #fff;
  background-color: #f2f2f2;
}
  
.services_title h2 {
  margin: 0;
  padding-top: 87px;
  padding-left: 40px;
  font-size: 30px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: #666d89;
}
  
.services_text {
  height: 57px;
  margin-top: 27px;
  margin-left: 40px;
  margin-right: 12px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.1px;
  text-align: justify;
  font-family: 'Lato-Black';
  color: #767e9e;
}
  
.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
  
.item {
  width: 340px;
}
  
.item__text h3 {
  margin-bottom: 11px;
  margin-top: -3px;
  font-weight: 900;
  line-height: 18px;
  text-align: justify;
  color: #666d89;  
}
  
.item__text h4 {
  width: 220px;
  margin-top: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.5px;
  text-align: justify;
  overflow: hidden;
  color: #767e9e; 
}
  
.circle {
  float: left;
}
  
.item__text {
  width: 220px;
  margin-left: 80px;
}
  
.pencil, .heart, .bulb {
  margin-top: 32px;
}
  
.phone, .star, .bubble {
  margin-top: 17px;
}
  
.pencil, .phone {
  margin-left: 40px;
}
  
.bubble, .bulb {
  margin-left: 19px;
}
  
.heart, .star {
  margin-left: -1px;
}
    
.heart.item__text, .star.item__text {
  margin-left: 81px;
}
  
.pencil.item__text, .phone.item__text {
  margin-left: 120px;
}
  
.bubble.item__text, .bulb.item__text {
  margin-left: 99px;
} 

/*portfolio*/

.portfolio-header {
  margin-top: 0px; 
  max-width: 1020px;
  max-width: 100%;
}

.portfolio-body a {
  height: 196px;
  text-decoration: none;
  color: #666d89;
  transition: color;
}

.portfolio-body {
  max-width: 1020px;
  height: 869px;
  margin: 0 auto;
  background-color:#2d303a;
}

.portfolio-title {
  width: 121px;
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 40px;
  padding-top: 70px;
  font-size: 30px; 
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1.5px;
  font-family: "Lato-Black";
  text-align: justify;
}

.portfolio-title:hover {
  color:white;
}

.portfolio_active {
  color: white;
}

.portfolio-header li:hover {
  border: solid white 1px;
}

.portfolio-text {
  /*width: 682px;
  height: 40px;*/
  padding-left: 40px;
  padding-top: 1px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.45px;
  font-family: 'Lato-Light';
  text-align: justify;
  color: #767e9e;  
}

.portfolio-navigation {
  margin-left: 2px;
  margin-top: -18px;
  margin-bottom: 20px;
}

.portfolio-navigation li a {
  text-decoration: none;
  color: #767e9e; 
}

.portfolio-navigation ul li a:hover {
  cursor: pointer;
  color: #dedede;
}

.portfolio-navigation li {
  display: inline;
  padding: 3.5px 5px;
  margin-right: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
  letter-spacing: 0.11px;
  font-family: "Lato-Regular";
  text-align: justify;
  color: #767e9e;
  border: 1px solid #666d89;
  border-radius: 5px;
  list-style-type: none;
}

.portfolio-navigation li:hover {
  border: 1px solid #c5c5c5;
}

.active_border {
  border: 5px solid #F06C64;
  border-radius: 7%;
}

/*main*/

main {
  /*height: 668px;*/
  border-bottom: 6px solid #323746;
}

.portfolio-image {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.portfolio-image section img {
  text-align: center;
  width: 220px;
  max-width: 100%;
}

section img:nth-child(n+13) {
  display: none;
}

.portfolio_active {
  color:white;
}

/*about us*/

.container-item {
  max-width: 1020px;
  height: 728px;
  margin: 0 auto;
  background-color:#f2f2f2;
  border-bottom: solid 6px #fff;
}

.text-item h2 {
  padding-left: 40px;
  padding-top: 70px;
  margin: 0px;
  margin-left: 2px;
  font-size: 30px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1.4px;
  font-family: "Lato - Black";
  text-align: justify;
  color: #666d89;
}

.text-item p {
  /*width: 939px;*/
  padding-left: 40px;
  padding-top: 26px;
  padding-bottom: 44px;
  margin: 0px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.27px;
  font-family: "Lato-Light";
  text-align: justify;
  color: #767e9e;
}

.photo-item {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 19px;
  padding-left: 40px;
}

.photo-item h2 {
    margin-top: 14px;
    margin-bottom: 11px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.13px;
    font-family: "Lato-Black";
    text-align: justify;
    overflow: hidden;
    white-space: nowrap;
    color: #9e9e9e;
}

.photo-item p {
    /*width: 301px;*/
    padding-bottom: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.20px;
    font-family: "Lato-Light";
    text-align: justify;
    color: #767e9e;   
}

.photo-item a {
  margin-right: 4px;
}

/*get a quote*/

.main {
  max-width: 1020px;
  margin: 0 auto;
}

.quote-main {
  position: relative;
  padding-left: 40px;
  padding-top: 37px;
  padding-bottom: 68px;
  background-color: #f06c64;
  border-bottom: 7px solid #ea676b;
}
  
.quote-title {
  font-size: 30px;
  font-weight: 600;
  font-family: "Lato-Black";
  color: #f0d8d9;
}
  
.quote-text {
    /*width: 939px;*/
    margin-top: -7px;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.13px;
    text-align: justify;
    font-family: "Lato-Regular";
    color: #f0d8d9;
}
  
.quote-block {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    margin-top: 43px;
}
  
.quote-form {
  /*width: 619px;*/
  display: flex;
  flex-direction: column;
}
  
.quote-form input:not(:first-child) {
  margin-top: 16px;
 }
  
.quote-form input {
    height: 38px;
    border: none;
    background-color: #d6564f;
    border-radius: 5px;
}
  
.quote-form textarea {
    height: 154px;
    padding-top: 12px;
    padding-bottom: 36px;
    padding-left: 15px;
    margin-top: 16px;
    margin-bottom: -2px;
    font-size: 12px;
    font-weight: normal;
    font-family: "Lato-Regular";
    background-color: #d6564f;
    resize: none;
    color: #f48c8f;
    border: none;
    border-radius: 5px;
}
  
.quote-form input::placeholder,
  textarea::placeholder {
  color: #f48c8f;
}
  
  
.quote-form input[type="text"] {
  height: 36px;
  padding-left: 15px;
  font-size: 12px;
  font-weight: normal;
  font-family: "Lato-Regular";
  color: #f48c8f;
}

.quote-form input[type="email"] {
  height: 36px;
  padding-left: 15px;
  font-size: 12px;
  font-weight: normal;
  font-family: "Lato-Regular";
  color: #f48c8f;
}

.quote-form button {
  width: 80px;
  margin-top: 0px;
  margin-left: 0px;
  
}
.quote-form button:hover {
  opacity: 0.8;
}

/**/

.submit button {
  padding: 6px 11px;
  background-color: #d6564f;
  border-radius: 5px;
  border: 1px solid #f0d1d1;
  color: #f0d1d1;
  letter-spacing: 0.7px;
  transition: color, background-color;
}

.submit button:hover {
  color: #eb676b;
  background-color: #f0d1d1;
}

.message_block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  top: 30%;
}

.hidden {
  display: none;
}

#message {
  width: 40%;
  border: 2px solid black;
  border-radius: 7px;
  text-align: center;
  line-height: 5px;
  color: rgb(240, 112, 112);
  background-color: #776565;
}

#message p {
  padding: 0 20px;
  color: rgb(15, 199, 107);
}

#close_btn {
  width: 50px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f0d1d1;
  margin-bottom: 10px;
}

/**/
  
.contact-information {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}

.contact-title {
    margin-top: 1px;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.4px;
    font-family: "Lato-Bold";
    text-align: justify;
    color: #f0d1d1; 
}

.contact-block {
  margin-top: 10px;
  letter-spacing: 0.3px;
}

.contact-text {
    /*width: 301px;*/
    margin-top: -9px;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.3px;
    font-family: "Lato-Regular";
    text-align: justify;
    color: #f0d1d1;
    transition: color;
}

.contact-link a {
  display: flex;
  text-decoration: none;
}

.contact-link p:hover {
  color: #fff;
}

.location img {
  width: 7px;
  height: 11px;
  padding: 5px 13px 0 4px;
}

.contact-link p {
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    letter-spacing: 0.3px;
    font-family: "Lato-Regular";
    color: #f0d8d9;
}

.tel img {
  width: 12px;
  height: 12px;
  padding: 4px 12px 0 0;
}

.mail img {
  width: 13px;
  height: 8px;
  padding: 7px 11px 0 0;
}

/*footer*/

footer {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  height: 76px;
  margin-top: -20px;
  background-color:#2d303a;
}

footer h3 {
    display: inline-block;
    padding: 31px 43px;
    margin: 0px;
    font-size: 11px;
    letter-spacing: 0.5px;
    font-family: "Lato-Regular";
    color: #666d89;
}

#container-social {
  display: inline-block; 
  position: absolute;
  right:39px;
  top:21px;
}

#container-social a {
  text-decoration: none;
}

.social-links {
  display: inline-block;
  width: 23px;
  height: 23px;
  padding: 7px 0 0 7px;
  margin-left: 4px;
  text-decoration: none;
  border: solid 1px #666d89;
  border-radius: 50%;
  transition: background-color;
}

.social-links:hover {
  background-color:#f0d8d9;
}

/*Media*/

@media (max-width:1020px) and (min-width: 768px) {
  .body {
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .left, 
  .right {
    height: 85%;
  }

  .right {
    margin-left: 730px;
    margin-top: -50px;
  }

  .left {
    margin-left: -680px;
    margin-top: -60px;
  }

  .slider {
    height: 58.4vw;
  }

  .slider1,
  .slider2 {
    height: 58.4vw;
  }

  .portfolio-body {
    height: 138.5vw;
  }

  .portfolio-image {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .services {
    margin-top: -18px;
    height: 89vw;
  }

  .services_text {
    margin-right: 5%;
  }

  .layout-3-column {
    padding-top: 26px;
  }

  .pencil, .heart, .bubble {
    margin-left: 20px;
  }

  .bubl, .phone, .star {
    margin-left: 20px;
  }

  .pencil.item__text, .phone.item__text, 
  .heart.item__text, .star.item__text {
    margin-left: 100px;
  }

  .text-item p {
    margin-right: 5%;
  }

  .photo-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5%;
    padding-left: 2%;
    padding-bottom: 20%;
  }

  .photo-item img.photo {
    max-width: 100%;
    width: 220px;
  }

  .photo-item p {
    font-size: 12px;
    margin: 10px 0;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato-Light";
    font-weight: 400;
    text-align: justify;
    padding-bottom: 14px;
  }

  .photo-item div {
    max-width: 217px;
  }

  .quote-text {
    margin-right: 5%;
  }

} 
@media (max-width: 767px) {
  .header {
    height: 18.5vw;
    display: flex;
    align-items: center;
  }

  .header h1 {
    max-width: 120px;
    padding: 0 20%;
  }

  .logo {
    margin: 0 auto;
  }

  .hamburger {
    display: flex;
  }

  .navigation-header ul {
    display: none;
  }

  .menu_link a {
    text-decoration: none;
  }

  .menu_active {
    width: 295px;
    height: 100%;
    align-items: center;
    display: block;
    cursor: pointer;
    text-decoration: none;
  }

  .menu_active li {
    text-decoration: none;
    color: #fff;
  }

  .menu_active {
    font-family: 'Lato-Bold';
    font-size: 24px;
    list-style-type: none;
    transition: color 0.2s;
  }

  .menu_active li:hover {
    color:#f69d98;
    transition: color 0.3s;
  }

  .slider {
    height: 58.5vw;
  }

  .slider1,
  .slider2 {
    height: 58.5vw;
  }

  .slider-button {
    top: 163px;
  }

  .left {
    margin-left: -330px;
  }

  .right {
    margin-left: 340px;
  }

  .left, 
  .right {
      height: 85%;
  }

  .services_title h2 {
    font-size: 40px;
    padding-top: 45px;
    padding-left: 20px;
  }

  .services_text {
    margin-left: 20px;
    margin-right: 12px;
  }

  .layout-3-column {
    display: block;
    padding-top: 86px;
}

  .item img {
    margin-left: 20px;
    margin-right: 20px;
  }

  .item__text {
    display: block;
    width: 100%;
  }

  .item__text h4 {
    left: 10px;
  }

  .pencil.item__text, .phone.item__text {
    margin-left: 20px;
  }

  .portfolio-image {
    height: 620px;
    max-height: 100%;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 5%;
    padding-left: 5%;
    grid-gap: 3%;
  }
  
  .portfolio-image div:nth-child(n+9){
    display: none;
  }

  .image img {
    width: 220px;
    max-width: 100%;
    height: 187px;
    max-height: 100%;
  }

  .portfolio-text {
    padding-right: 5%;
    text-align: justify;
  }

  .container-item {
    height: 480vw;
  }

  .text-item p {
    padding-right: 5%;
  }

  .photo-item {
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 19px;
    padding-left: 40px;
  }

  .item {
    width: 100%;
  }

  .quote-text {
    margin-right: 5%;
  }

  .quote-block {
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-column-gap: 10px;
  }

  #message {
    width: 90%;
    top:30%;
    left: 5%;
  }

  footer h3 {
    display: none;
  }

  #container-social {
    position: relative;
    display: inline-block;  
    padding-left: 40%;
  }
}

